{% extends "base.html" %}
{% block css %} <link rel="stylesheet" href="{{url_for('static', filename= 'css/app.css')}}"/> {% endblock %}
{% block main %}
<h1>Secure Page</h1>
<p>Information technology (IT) refers to everything that businesses use computers for. Information technology is building communications networks for a company, safeguarding data and information, creating and administering databases, helping employees troubleshoot problems with their computers or mobile devices, or doing a range of other work to ensure the efficiency and security of business information systems. Demand for professionals in this field is high and growing, and people entering the field have a range of career paths to choose from.
</p>

{% endblock %}